<h1 mat-dialog-title>Dauerauftrag {{currentRecurringTask.isRevenue ? 'Einnahme' : 'Ausgabe'}} bearbeiten</h1>
<div mat-dialog-content>
  <form [formGroup]="recurringTaskForm">
    <div class="mb-3">
      <label class="form-label" for="amount">Betrag</label>
      <input
        [ngClass]="{
          'is-invalid': amount.invalid && (amount.dirty || amount.touched),
          'is-valid': amount.valid
          }"
        class="form-control"
        formControlName="amount"
        id="amount"
        type="number">
      <div *ngIf="amount.errors && (amount.dirty || amount.touched)"
           class="invalid-feedback">
        <p *ngIf="amount.errors['required']">Betrag ist ein Pflichtfeld</p>
      </div>
    </div>
    <div *ngIf="currentRecurringTask.isExpense" class="mb-3">
      <label class="form-label" for="categoryId">Kategorie</label>
      <select [ngClass]="{
          'is-invalid': categoryId.invalid && (categoryId.dirty ||  categoryId.touched),
          'is-valid': categoryId.valid
          }" class="form-select" formControlName="categoryId" id="categoryId">
        <option *ngFor="let category of categoryGroups" [ngValue]="category.id">{{category.name}}</option>
      </select>
      <div *ngIf="categoryId.errors && (categoryId.dirty || categoryId.touched)"
           class="invalid-feedback">
        <p *ngIf="categoryId.errors['required']">Kategorie ist ein Pflichtfeld</p>
      </div>
    </div>
    <div *ngIf="currentRecurringTask.isRevenue" class="mb-3">
      <label class="form-label" for="categoryId">Kategorie</label>
      <select [ngClass]="{
          'is-invalid':  revenueCategoryId.invalid && (revenueCategoryId.dirty || revenueCategoryId.touched),
          'is-valid': revenueCategoryId.valid
          }" class="form-select" formControlName="revenueCategoryId" id="revenueCategoryId">
        <option *ngFor="let category of categoryGroups" [ngValue]="category.id">{{category.name}}</option>
      </select>
      <div *ngIf="revenueCategoryId.errors && (revenueCategoryId.dirty || revenueCategoryId.touched)"
           class="invalid-feedback">
        <p *ngIf="revenueCategoryId.errors['required']">Kategorie ist ein Pflichtfeld</p>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="description">Beschreibung</label>
      <textarea [ngClass]="{
          'is-invalid': description.invalid && (description.dirty || description.touched),
          'is-valid': description.valid
          }" class="form-control" formControlName="description" id="description" rows="2"></textarea>
      <div *ngIf="description.errors && (description.dirty || description.touched)"
           class="invalid-feedback">
        <p *ngIf="description.errors['maxlength']">Maximum 255 Zeichen erlaubt</p>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="categoryId">Kategorie</label>
      <select [ngClass]="{
          'is-invalid':  executeInMonths.invalid && (executeInMonths.dirty || executeInMonths.touched),
          'is-valid': executeInMonths.valid
          }" class="form-select" formControlName="executeInMonths" id="executeInMonths">
        <option *ngFor="let month of executeMonths" [ngValue]="month.value">{{month.description}}</option>
      </select>
      <div *ngIf="executeInMonths.errors && (executeInMonths.dirty || executeInMonths.touched)"
           class="invalid-feedback">
        <p *ngIf="executeInMonths.errors['required']">Monate ist ein Pflichtfeld</p>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="nextExecution">Nächste Ausführung</label>
      <input
        [ngClass]="{
          'is-invalid': nextExecution.invalid && (nextExecution.dirty || nextExecution.touched),
          'is-valid': nextExecution.valid
          }"
        class="form-control"
        formControlName="nextExecution"
        id="nextExecution"
        type="date">
      <div *ngIf="nextExecution.errors && (nextExecution.dirty || nextExecution.touched)"
           class="invalid-feedback">
        <p *ngIf="nextExecution.errors['required']">Nächste Ausführung ist ein Pflichtfeld</p>
      </div>
    </div>
    <div class="form-check mt-2">
      <input class="form-check-input" formControlName="isActive" id="isActive" type="checkbox">
      <label class="form-check-label" for="isActive">
        Aktiv
      </label>
    </div>
  </form>
</div>
<div class="button-container" mat-dialog-actions>
  <button (click)="onClose()" class="btn bg-warning" type="button">Abbrechen</button>
  <button (click)="onSubmit()" [disabled]="recurringTaskForm.invalid" class="btn btn-success" type="submit">Speichern
  </button>
</div>

