<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Kostenmanager</a>
    <button (click)="isShown = !isShown" aria-controls="navbarColor02" aria-expanded="false"
            aria-label="Toggle navigation"
            class="navbar-toggler" data-bs-target="#navbarColor02" data-bs-toggle="collapse"
            type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngClass]="{'show': isShown}" class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a (click)="isShown = false" class="nav-link" routerLink="/home" routerLinkActive="active">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="isShown = false" class="nav-link" routerLink="/ausgaben" routerLinkActive="active">Ausgaben</a>
        </li>
        <li *ngIf="currentUser && currentUser?.withRevenue" class="nav-item">
          <a (click)="isShown = false" class="nav-link" routerLink="/einnahmen" routerLinkActive="active">Einnahmen</a>
        </li>
        <li class="nav-item">
          <a (click)="isShown = false" class="nav-link" routerLink="/kategorien"
             routerLinkActive="active">Kategorien</a>
        </li>
        <li class="nav-item">
          <a (click)="isShown = false" class="nav-link" routerLink="/dauerauftraege"
             routerLinkActive="active">Daueraufträge</a>
        </li>
        <li class="nav-item">
          <a (click)="isShown = false" class="nav-link" routerLink="/statistiken"
             routerLinkActive="active">Statistiken</a>
        </li>
        <li class="nav-item">
          <a (click)="isShown = false" class="nav-link" routerLink="/einstellungen" routerLinkActive="active">Einstellungen</a>
        </li>
        <li class="nav-item" id="logout">
          <a (click)="onLogout()" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

