<div class="container">
  <h2>Kategorien</h2>
  <hr>
  <div class="add-button">
    <button class="btn bg-info" (click)="onAddCategory()">Kategorie hinzufügen</button>
  </div>
  <div class="table-responsive">
  <table class="table table-secondary table-striped">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Bearbeiten</th>
      <th scope="col">Löschen</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of userCategories">
      <th scope="row">{{category.name}}</th>
      <td><span class="material-icons" id="edit" (click)="onEdit(category)">edit</span></td>
      <td><span class="material-icons" id="delete" (click)="onDelete(category)">delete</span></td>
    </tr>
    </tbody>
  </table>
  </div>
</div>
