h2 {
  text-align: center;
  margin: 20px 0;
}

h3 {
  margin-left: 20px;
}

.detail-container {
  width: 85%;
  margin: auto;
}

.report-button {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.yearly-amount {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}

.noContent {
  font-size: 1.25rem;
  text-align: center;
  padding-bottom: 2.25rem;
}
