<div class="container">
  <h2>übersicht</h2>
  <div class="beams">
    <span>Dezember 2021</span>
  </div>
  <div class="d-grid" id="add-button">
    <button class="btn btn-primary" type="button">Ausgabe erfassen</button>
    </div>
  <p>Ausgegebener Prozentsatz des geplanten Budgets</p>
  <div class="progress" style="height: 30px;">
    <div class="progress-bar bg-success" role="progressbar" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
  </div>
  <div class="month-budget">
    <p>Ausgaben: <span>1145.00</span></p>
    <p>Budget: <span>2250.00</span></p>
  </div>
  <div class="expenses-content">
    <app-expenses></app-expenses>
    <app-expenses></app-expenses>
    <app-expenses></app-expenses>
  </div>
</div>
