<div class="login-container">
  <div class="bg"></div>
  <h1 id="title">Kostenmanager</h1>
  <form (ngSubmit)="onLogin()" *ngIf="loginForm" [formGroup]="loginForm" class="form-signing">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    </div>
    <div class="form-label-group">
      <label for="inputEmail">Email</label>
      <div class="input-group">
        <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
        <input
          [ngClass]="{
                        'is-invalid': loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched),
                        'is-valid': loginForm.controls.email.valid
                      }"
          class="form-control"
          formControlName="email"
          id="inputEmail"
          placeholder="E-Mail"
          type="email">
        <div *ngIf="loginForm.controls.email.errors &&
                 (loginForm.controls.email.dirty || loginForm.controls.email.touched)"
             class="invalid-feedback">
          <p *ngIf="loginForm.controls.email.errors.required">Email ist ein Pflichtfeld</p>
          <p *ngIf="loginForm.controls.email.errors.email">ungültige E-Mail</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword">Passwort</label>
      <div class="input-group">
        <span class="input-group-text"><i class="fa fa-key"></i></span>
        <input
          [ngClass]="{
                        'is-invalid': loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched),
                        'is-valid': loginForm.controls.password.valid
                      }"
          [type]="fieldTextType ? 'text' : 'password'"
          autocomplete="on"
          class="form-control"
          formControlName="password"
          id="inputPassword"
          placeholder="Passwort">
        <span class="input-group-text" (click)="toggleFieldTextType()">
              <i
                [ngClass]="{
                      'fa-eye-slash': !fieldTextType,
                      'fa-eye': fieldTextType
                    }"
                class="fa"
              ></i>
        </span>
        <div *ngIf="loginForm.controls.password.errors &&
                 (loginForm.controls.password.dirty || loginForm.controls.password.touched)"
             class="invalid-feedback">
          <p *ngIf="loginForm.controls.password.errors.required">Passwort ist ein Pflichtfeld</p>
        </div>
      </div>
    </div>
    <div class="text-center mt-2">
      <div (click)="onForgotPassword()" class="forgotPassword">Passwort vergessen ?</div>
    </div>
    <button class="btn btn-lg btn-success mt-4" [disabled]="loginForm.invalid"
            type="submit"><i class="fa fa-sign-in"></i> Login
    </button>
    <button id="register" class="btn btn-outline-info">Konto erstellen</button>
  </form>
</div>

