<div class="changelog-container">
  <h2 mat-dialog-title>Änderungsprotokoll</h2>
  <hr>
  <mat-dialog-content>
    <div class="version">3.1.0 <span class="version-date">(01-01-2023)</span></div>
    <ul>
      <li>Update Angular 14 -> 15</li>
      <li>Update NuGet Pakete</li>
      <li>Schwachstelle "d3-color vulnerable to ReDoS" CWE-400 Fix</li>
      <li>Schwachstelle "loader-utils is vulnerable to Regular Expression Denial of Service (ReDoS) via url variable" CVE-2022-37603 Fix</li>
      <li>Schwachstelle "loader-utils is vulnerable to Regular Expression Denial of Service (ReDoS)" CVE-2022-37599 CWE-400 Fix</li>
      <li>Schwachstelle "sweetalert2 v11.4.9 and above contains hidden functionality" CWE-912 Fix</li>
    </ul>
    <div class="version">3.0.2 <span class="version-date">(08-10-2022)</span></div>
    <ul>
      <li>Sicherheits Updates</li>
    </ul>
    <div class="version">3.0.1 <span class="version-date">(31-08-2022)</span></div>
    <ul>
      <li>Bug-Fix</li>
      <li>Tabelle in Daueraufträge wird nur Angezeigt wen Daueraufträge vorhanden sind</li>
    </ul>
    <div class="version">3.0.0 <span class="version-date">(29-08-2022)</span></div>
    <ul>
      <li>Daueraufträge für Einnahmen und Ausgaben</li>
      <li>Neue Rubrik "Daueraufträge"</li>
      <li>Versions Info Box eingeführt</li>
    </ul>
    <div class="version">2.2.0 <span class="version-date">(28-08-2022)</span></div>
      <ul>
        <li>Update Angular 13 -> Angular 14</li>
        <li>Diverse Sicherheits Updates</li>
      </ul>
    <div class="version">2.1.2 <span class="version-date">(10-04-2022)</span></div>
    <ul>
      <li>Spinner Fehler behoben</li>
    </ul>
    <div class="version">2.1.1 <span class="version-date">(26-03-2022)</span></div>
    <ul>
      <li>Diverse Sicherheits Updates</li>
    </ul>
    <div class="version">2.1.0 <span class="version-date">(12-01-2022)</span></div>
    <ul>
      <li>Excel Monatsstatistik neu mit Einnahmen</li>
      <li>Excel Jahresstatistik neu mit Einnahmen</li>
      <li>Bug Fix - Fehler bei Statistik Diagramm behoben</li>
    </ul>
    <div class="version">2.0.0 <span class="version-date">(08-01-2022)</span></div>
    <ul>
      <li>Neu können nun auch Einnahmen erfasst werden</li>
      <li>Einnahmen Rubrik</li>
      <li>Einnahmen Kategorien</li>
      <li>Einnahmen, Ausgaben Differenz in Home Seite</li>
      <li>Einnahmen Jahresdiagramm in Statistik</li>
      <li>In den Einstellungen kann gewählt werden, ob der Benutzer Einnahmen erfassen möchte oder nicht</li>
    </ul>
    <div class="version">1.0.4 <span class="version-date">(01-01-2022)</span></div>
    <ul>
      <li>Bug Fix - Fehler bei Ausgabe bearbeiten mit Datum</li>
      <li>Diagramm in Statistik</li>
      <li>Statistik Excel neu mit % Angaben</li>
    </ul>
    <div class="version">1.0.3 <span class="version-date">(01-01-2022)</span></div>
    <ul>
      <li>Bereich Statistik hinzugefügt</li>
      <li>Jahres und Monats Statistiken als Excel</li>
    </ul>
    <div class="version">1.0.2 <span class="version-date">(31-12-2021)</span></div>
    <ul>
      <li>Änderungsprotokoll hinzugefügt</li>
      <li>Passwort vergessen Funktion wurde hinzugefügt</li>
    </ul>
    <div class="version">1.0.1 <span class="version-date">(26-12-2021)</span></div>
    <ul>
      <li>Schreibfehler Korrekturen</li>
      <li>Ausgaben können nun auch 1 Jahr in die Zukunft angeschaut werden</li>
    </ul>
    <div class="version">1.0.0 <span class="version-date">(26-12-2021)</span></div>
    <ul>
      <li>Erste Veröffentlichung</li>
    </ul>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button [mat-dialog-close]="true" class="btn btn-danger">Schliessen</button>
  </mat-dialog-actions>
</div>
