<div class="changelog-container">
  <h2 mat-dialog-title>Änderungsprotokoll</h2>
  <hr>
  <mat-dialog-content>
    <div class="version">1.0.4</div>
    <ul>
      <li>Bug Fix - Fehler bei Ausgabe bearbeiten mit Datum</li>
      <li>Diagramm in Statistik</li>
      <li>Statistik Excel neu mit % Angaben</li>
    </ul>
    <div class="version">1.0.3</div>
    <ul>
      <li>Bereich Statistik hinzugefügt</li>
      <li>Jahres und Monats Statistiken als Excel</li>
    </ul>
    <div class="version">1.0.2</div>
    <ul>
      <li>Änderungsprotokoll hinzugefügt</li>
      <li>Passwort vergessen Funktion wurde hinzugefügt</li>
    </ul>
    <div class="version">1.0.1</div>
    <ul>
      <li>Schreibfehler Korrekturen</li>
      <li>Ausgaben können nun auch 1 Jahr in die Zukunft angeschaut werden</li>
    </ul>
    <div class="version">1.0.0</div>
    <ul>
      <li>Erste Veröffentlichung</li>
    </ul>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button [mat-dialog-close]="true" class="btn btn-danger">Schliessen</button>
  </mat-dialog-actions>
</div>
