<div class="container">
  <h2>Einnahmen</h2>
  <hr>
  <div class="detail-container">
    <div class="row">
      <div class="col-6">
        <select (change)="onMonthChange($event)" [ngModel]="date.getMonth() + 1" class="form-select">
          <option *ngFor="let month of months" [value]="month.value">{{month.name}}</option>
        </select>
      </div>
      <div class="col-6">
        <select (change)="onYearChange($event)" [ngModel]="date.getFullYear()" class="form-select">
          <option *ngFor="let year of years" [value]="year">{{year}}</option>
        </select>
      </div>
    </div>
    <hr>
    <div *ngFor="let categories of groupedRevenues" class="expenses-container">
      <h3>{{categories.categoryName}}</h3>
      <ol class="list-group">
        <li *ngFor="let revenue of categories.revenue"
            class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{revenue.description}}</div>
            {{revenue.createDate | date: 'dd.MM.yyyy'}}
            <div>
              <span (click)="onEditRevenue(revenue)" class="material-icons edit">edit</span>
              <span (click)="onDeleteRevenue(revenue)" class="material-icons delete">delete</span>
            </div>
          </div>
          <span class="badge bg-warning">{{revenue.amount | currency: 'CHF '}}</span>
        </li>
        <li class="list-group-item total-amount-list-item">
          <div id="total-amount">{{categories.groupAmount | currency: 'CHF '}}</div>
        </li>
      </ol>
    </div>
    <ng-template [ngIf]="groupedRevenues.length <= 0">
      <h2>Keine Einnahmen für {{currentMonth | monthName}} {{currentYear}}</h2>
    </ng-template>
  </div>
</div>

