h2 {
  text-align: center;
  margin: 20px 0;
}
.detail-container {
  width: 85%;
  margin: auto;
}
.expenses-container:last-of-type {
  padding-bottom: 50px;
}
.expenses-container h3{
  color: #a56210;
}
.list-group {
  margin-bottom: 30px;
}
.total-amount-list-item {
  display: flex;
  justify-content: center;
}

#total-amount {
  font-weight: bold;
}
.material-icons {
  cursor: pointer;
}
.edit {
  color: #6262f3;
  margin-right: 20px;
}
.delete {
  color: #ee5d5d;
}
