<div class="container">
  <h1>Ausgaben</h1>
  <hr>
  <div class="detail-container">
    <div class="row">
      <div class="col-6">
        <select [ngModel]="date.getMonth() + 1" class="form-select" (change)="onMonthChange($event)">
          <option *ngFor="let month of months" [value]="month.value">{{month.name}}</option>
        </select>
      </div>
      <div class="col-6">
        <select class="form-select" (change)="onYearChange($event)">
          <option *ngFor="let year of years" [value]="year">{{year}}</option>
        </select>
      </div>
    </div>
    <hr>
    <div *ngFor="let categories of groupedExpenses" class="expenses-container">
      <h3>{{categories.categoryName}}</h3>
      <ol class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let expense of categories.expense">
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{expense.description}}</div>
            {{expense.createDate | date: 'dd.MM.yyyy'}}
          </div>
          <span class="badge bg-warning">{{expense.amount | currency: 'CHF '}}</span>
        </li>
        <li class="list-group-item total-amount-list-item">
          <div id="total-amount">{{categories.groupAmount | currency: 'CHF '}}</div>
        </li>
      </ol>
    </div>
  </div>
</div>
