h2 {
  margin: 20px 0;
  text-align: center;
}

.delete-container {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.delete-container button {
  width: 40%;
}

.edit-user-btn {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
}

#changeBudgetBtn {
  margin-top: 20px;
}

.change-pw-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.change-pw-btn button {
  width: 50%;
}

#cancel-user-change {
  margin-right: 50px;
}

.expense-tracker-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#info-icon {
  font-size: 1.2rem;
  margin-left: 5px;
  cursor: pointer;
}
