<div class="container">
  <h2>Einstellungen</h2>
  <hr>
  <h4>Account</h4>
  <form *ngIf="currentUser" [formGroup]="userForm">
    <div class="row">
      <div class="col-6">
        <label for="lastName">Vorname</label>
        <input class="form-control" formControlName="lastName" id="lastName" type="text">
      </div>
      <div class="col-6">
        <label for="firstName">Nachname</label>
        <input class="form-control" formControlName="firstName" id="firstName" type="text">
      </div>
    </div>
    <div>
      <label for="email">E-Mail</label>
      <input class="form-control" formControlName="email" id="email" type="email">
    </div>
    <div class="form-check mt-2">
      <input class="form-check-input" formControlName="withRevenue" id="withRevenue" type="checkbox">
      <label class="form-check-label" for="withRevenue">
        Mit Einnahmen
      </label>
    </div>
    <div class="edit-user-btn">
      <button (click)="onEditUser()" *ngIf="!isUserUpdate" class="btn btn-secondary" type="button">Bearbeiten</button>
      <button (click)="onCancelEditUser()" *ngIf="isUserUpdate" class="btn btn-danger" id="cancel-user-change">
        Abbrechen
      </button>
      <button (click)="onSubmit()" *ngIf="isUserUpdate" class="btn btn-success">Speichern</button>
    </div>
  </form>
  <hr>
  <h4>Budget</h4>
  <div class="col-8">
    <label class="form-label" for="budget">Budget</label>
    <input [(ngModel)]="userBudget" class="form-control" id="budget" min="0" name="budget" type="number">
    <button (click)="onBudgetChange()" class="btn btn-success" id="changeBudgetBtn">Monatsbudget ändern</button>
  </div>
  <hr>
  <h4>Passwort ändern</h4>
  <form [formGroup]="passwordForm">
    <div class="row">
      <div class="col-6">
        <label for="password">Neues Passwort</label>
        <div class="input-group">
          <input
            [ngClass]="{
                        'is-invalid': password.invalid && (password.dirty || password.touched),
                        'is-valid': password.valid
                      }"
            [type]="passwordFieldTextType ? 'text' : 'password'"
            class="form-control"
            formControlName="password"
            id="password">
          <span (click)="togglePasswordFieldTextType()" class="input-group-text">
              <i
                [ngClass]="{
                      'fa-eye-slash': !passwordFieldTextType,
                      'fa-eye': passwordFieldTextType
                    }"
                class="fa"
              ></i>
        </span>
          <div *ngIf="password.errors && (password.dirty || password.touched)"
               class="invalid-feedback">
            <p *ngIf="password.errors['required']">Passwort ist ein Pflichtfeld</p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <label for="confirmPassword">Passwort bestätigen</label>
        <div class="input-group">
          <input
            [ngClass]="{
                        'is-invalid': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched),
                        'is-valid': confirmPassword.valid
                      }"
            [type]="confirmFieldTextType ? 'text' : 'password'"
            class="form-control"
            formControlName="confirmPassword"
            id="confirmPassword">
          <span (click)="toggleConfirmFieldTextType()" class="input-group-text">
              <i
                [ngClass]="{
                      'fa-eye-slash': !confirmFieldTextType,
                      'fa-eye': confirmFieldTextType
                    }"
                class="fa"
              ></i>
        </span>
          <div *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)"
               class="invalid-feedback">
            <p *ngIf="confirmPassword.errors['required']">Passwort bestätigen ist ein Pflichtfeld</p>
            <p *ngIf="confirmPassword.errors['isMatching']">Passwort nicht identisch</p>
          </div>
        </div>
      </div>
    </div>
    <div class="change-pw-btn">
      <button (click)="onPasswordChange()" [disabled]="passwordForm.invalid" class="btn btn-success">Passwort ändern
      </button>
    </div>
  </form>
  <hr>
  <h4>Kostenmanager</h4>
  <div class="expense-tracker-container">
    <div>Version: {{appVersion}}
      <span (click)="onChangeLog()" class="material-icons" data-bs-placement="top" data-bs-toggle="tooltip"
            id="info-icon" title="Änderungsprotokoll">help</span>
    </div>
    <div>
      <button (click)="onContactSupport()" class="btn bg-info">Support kontaktieren</button>
    </div>
  </div>
  <hr>
  <h4>Account löschen</h4>
  <div class="delete-container">
    <button (click)="onDeleteAccount()" class="btn btn-danger btn-sm">Account Löschen</button>
  </div>
</div>
