h2 {
  text-align: center;
  margin: 20px 0;
}

.material-icons {
  cursor: pointer;
}

.add-button {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.edit:hover {
  color: blue;
}

.delete:hover {
  color: red;
}

.revenue {
  margin-bottom: 5rem;
}

.no-action {
  cursor: auto;
}
