<h1 mat-dialog-title>Einnahme{{isUpdate ? ' bearbeiten' : ' hinzufügen'}}</h1>
<div mat-dialog-content>
  <form [formGroup]="revenueForm">
    <div class="mb-3">
      <label class="form-label" for="amount">Betrag</label>
      <input
        [ngClass]="{
          'is-invalid': amount.invalid && (amount.dirty || amount.touched),
          'is-valid': amount.valid
          }"
        class="form-control"
        formControlName="amount"
        id="amount"
        type="number">
      <div *ngIf="amount.errors && (amount.dirty || amount.touched)"
           class="invalid-feedback">
        <p *ngIf="amount.errors['required']">Betrag ist ein Pflichtfeld</p>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="categoryId">Kategorie</label>
      <select (change)="onCategoryChange($event)" [ngClass]="{
          'is-invalid': categoryId.invalid && (categoryId.dirty || categoryId.touched),
          'is-valid': categoryId.valid
          }" class="form-select" formControlName="categoryId" id="categoryId">
        <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
        <option value="newCategory">Neue Kategorie</option>
      </select>
      <div *ngIf="categoryId.errors && (categoryId.dirty || categoryId.touched)"
           class="invalid-feedback">
        <p *ngIf="categoryId.errors['required']">Kategorie ist ein Pflichtfeld</p>
      </div>
    </div>
    <div *ngIf="isNewCategory" class="mb-3">
      <label class="form-label" for="categoryName">Neue Kategorie</label>
      <input
        [ngClass]="{
          'is-invalid': categoryName.invalid && (categoryName.dirty || categoryName.touched),
          'is-valid': categoryName.valid
          }"
        class="form-control"
        formControlName="categoryName"
        id="categoryName"
        type="text">
      <div *ngIf="categoryName.errors && (categoryName.dirty || categoryName.touched)"
           class="invalid-feedback">
        <p *ngIf="categoryName.errors['required']">Neue Kategorie ist ein Pflichtfeld</p>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="description">Beschreibung</label>
      <textarea [ngClass]="{
          'is-invalid': description.invalid && (description.dirty || description.touched),
          'is-valid': description.valid
          }" class="form-control" formControlName="description" id="description" rows="2"></textarea>
      <div *ngIf="description.errors && (description.dirty || description.touched)"
           class="invalid-feedback">
        <p *ngIf="description.errors['maxlength']">Maximum 255 Zeichen erlaubt</p>
      </div>
    </div>
    <div *ngIf="!isUpdate" class="form-check form-switch mb-3">
      <input (change)="onRecurringTaskChange()" [checked]="isRecurringTask" class="form-check-input"
             id="isRecurringTask"
             type="checkbox">
      <label class="form-check-label" for="isRecurringTask">Dauerauftrag</label>
    </div>
    <div *ngIf="isRecurringTask && !isUpdate" class="mb-3">
      <label class="form-label" for="recurringTaskInterval">Intervall</label>
      <select class="form-select" formControlName="recurringTaskInterval" id="recurringTaskInterval">
        <option *ngFor="let interval of recurringIntervals" [ngValue]="interval.value">{{interval.description}}</option>
      </select>
      <div *ngIf="categoryId.errors && (categoryId.dirty || categoryId.touched)"
           class="invalid-feedback">
        <p *ngIf="categoryId.errors['required']">Kategorie ist ein Pflichtfeld</p>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="createDate">Datum</label>
      <input
        [ngClass]="{
          'is-invalid': createDate.invalid && (createDate.dirty || createDate.touched),
          'is-valid': createDate.valid
          }"
        class="form-control"
        formControlName="createDate"
        id="createDate"
        type="date">
      <div *ngIf="createDate.errors && (createDate.dirty || createDate.touched)"
           class="invalid-feedback">
        <p *ngIf="createDate.errors['required']">Datum ist ein Pflichtfeld</p>
      </div>
    </div>
  </form>
</div>
<div class="button-container" mat-dialog-actions>
  <button (click)="onClose()" class="btn bg-warning" type="button">Abbrechen</button>
  <button (click)="onSubmit()" [disabled]="revenueForm.invalid" class="btn btn-success" type="submit">Speichern</button>
</div>

