<form *ngIf="registerForm" [formGroup]="registerForm" class="form-signing">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Registrieren</h1>
  </div>
  <div class="form-label-group">
    <label for="registerEmail">Email</label>
    <div class="input-group">
      <input
        [ngClass]="{
                        'is-invalid': email.invalid && (email.dirty || email.touched),
                        'is-valid': email.valid
                      }"
        class="form-control"
        formControlName="email"
        id="registerEmail"
        type="email">
      <div *ngIf="email.errors &&(email.dirty || email.touched)"
           class="invalid-feedback">
        <p *ngIf="email.errors['required']">Email ist ein Pflichtfeld</p>
        <p *ngIf="email.errors['email']">Ungültige E-Mail</p>
        <p *ngIf="email.errors['maxlength']">Max 100 Zeichen erlaubt</p>
        <p *ngIf="email.errors['emailExists']">E-Mail bereits registriert</p>
      </div>
    </div>
  </div>
  <div class="form-label-group">
    <label for="registerFirstName">Vorname</label>
    <div class="input-group">
      <input
        [ngClass]="{
                        'is-invalid': firstName.invalid && (firstName.dirty || firstName.touched),
                        'is-valid': firstName.valid
                      }"
        class="form-control"
        formControlName="firstName"
        id="registerFirstName"
        type="text">
      <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)"
           class="invalid-feedback">
        <p *ngIf="firstName.errors['required']">Vorname ist ein Pflichtfeld</p>
        <p *ngIf="firstName.errors['maxlength']">Max 100 Zeichen erlaubt</p>
      </div>
    </div>
  </div>
  <div class="form-label-group">
    <label for="registerLastName">Nachname</label>
    <div class="input-group">
      <input
        [ngClass]="{
                        'is-invalid': lastName.invalid && (lastName.dirty || lastName.touched),
                        'is-valid': lastName.valid
                      }"
        class="form-control"
        formControlName="lastName"
        id="registerLastName"
        type="text">
      <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)"
           class="invalid-feedback">
        <p *ngIf="lastName.errors['required']">Nachname ist ein Pflichtfeld</p>
        <p *ngIf="lastName.errors['maxlength']">Max 100 Zeichen erlaubt</p>
      </div>
    </div>
  </div>
  <div class="form-label-group">
    <label for="registerPassword">Passwort</label>
    <div class="input-group">
      <input
        [ngClass]="{
                        'is-invalid': password.invalid && (password.dirty || password.touched),
                        'is-valid': password.valid
                      }"
        autocomplete="on"
        class="form-control"
        formControlName="password"
        id="registerPassword"
        type="password">
      <div *ngIf="password.errors && (password.dirty || password.touched)"
           class="invalid-feedback">
        <p *ngIf="password.errors['required']">Passwort ist ein Pflichtfeld</p>
      </div>
    </div>
  </div>
  <div class="form-label-group">
    <label for="registerConfirmPassword">Passwort bestätigen</label>
    <div class="input-group">
      <input
        [ngClass]="{
                        'is-invalid': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched),
                        'is-valid': confirmPassword.valid
                      }"
        autocomplete="on"
        class="form-control"
        formControlName="confirmPassword"
        id="registerConfirmPassword"
        type="password">
      <div *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)"
           class="invalid-feedback">
        <p *ngIf="confirmPassword.errors['required']">Passwort bestätigen ist ein Pflichtfeld</p>
        <p *ngIf="confirmPassword.errors['isMatching']">Passwort nicht identisch</p>
      </div>
    </div>
  </div>
</form>
<div class="button-container">
  <button (click)="onClose()" class="btn bg-warning" type="button">Abbrechen</button>
  <button (click)="onRegister()" [disabled]="registerForm.invalid || !registerForm.dirty"
          class="btn btn-lg btn-success" type="submit"><i class="fa fa-sign-in"></i> Registrieren
  </button>
</div>
