<form *ngIf="forgotPasswordForm" [formGroup]="forgotPasswordForm" class="form-signing">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Passwort vergessen</h1>
  </div>
  <div class="form-label-group">
    <label for="registerEmail">Email</label>
    <div class="input-group">
      <input
        [ngClass]="{
                        'is-invalid': email.invalid && (email.dirty || email.touched),
                        'is-valid': email.valid
                      }"
        class="form-control"
        formControlName="email"
        id="registerEmail"
        type="email">
      <div *ngIf="email.errors && (email.dirty || email.touched)" class="invalid-feedback">
        <p *ngIf="email.errors['required']">Email ist ein Pflichtfeld</p>
        <p *ngIf="email.errors['email']">Ungültige E-Mail</p>
      </div>
    </div>
  </div>
</form>
<div class="button-container">
  <button (click)="onClose()" class="btn bg-warning" type="button">Abbrechen</button>
  <button (click)="onSubmit()" [disabled]="forgotPasswordForm.invalid || !forgotPasswordForm.dirty"
          class="btn btn-success" type="submit">Absenden
  </button>
</div>
